* {
  box-sizing: border-box;
}

body {
  background-color: #EAEAEA;
  font-family: 'Lato', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  /*background-color: #FCFCFC;*/
}

.row {
  display: flex;
}

.deploys, .sprint {
  margin: 0.5em;
  width: 50%;
}

@media (max-width: 750px) {
  .row {
    flex-direction: column;
  }

  .deploys, .sprint {
    width: 100%;
  }
}

.sprint-count {
  background-color: #8FD456;
}

.deploys-header {
  background-color: #31ABDF;
  color: #FFFFFF;
  padding: 0.5em;
}

.sprint-header {
  background-color: #82CF45;
}

.deploy-rows {
  background-color: #FCFCFC;
}

.profile-pic {
  border-radius: 50%;
  height: 20px;
  margin-right: 0.5em;
  width: 20px;
}

.centerer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.deploy-container {
  align-items: center;
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  display: flex;
  flex-direction: row;
  font-size: 0.7em;
  height: 47px;
  justify-content: space-between;
  padding: 0.5em 0.7em 0.5em 0.7em;
}

.deploy-container:hover {
  background-color: white;
}

.left-deploy {
  display: flex;
  align-items: center;
}

.right-deploy {
  color: #A5A7AC;
}

.deploys-header {
  display: flex;
  align-items: center;
}

.deploy-count {
  font-size: 2em;
  padding: 0.2em;
  background-color: #44B4E2;
}

.sprint-count {
  background-color: #8DD64D;
}

.deploys-today {
  margin-left: 0.5em;
}

.deploys-today h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.deploys-today div {
  margin: 0;
  padding: 0;
  font-size: 0.5em;
  color: #BCE4F3;
}

.sprint-header .deploys-today div {
  color: #DEF2CB;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
